.container{
	margin-top: 0;
	text-align: center;
}


#header{
	height: 500px;
	height: 100vh;
	margin-bottom: 48px;

	h1{
		position: absolute;
		top: 28vh;
		left: 0;
		right: 0;
		z-index: 100;
		color: yellow;
		font-size: 32px;
		text-shadow: 0px 6px 8px #330099, 0px -6px 8px #ffff00;

		@include mq("medium"){
			top: 27vh;
			font-size: 50px;
		}
		@include mq("large"){
			top: 26vh;
			font-size: 72px;
		}
		@include mq("widescreen"){
			top: 26vh;
			font-size: 80px;
		}
	}
}

.body-container{
	width: 90%;
	margin: 50px 5%;
	color: $text;
	@include mq("medium"){
		width: 80%;
		margin: 50px 10%;
	}
	@include mq("large"){
		width: 60%;
		margin: 50px 20%;
	}
	@include mq("widescreen"){
		width: 50%;
		margin: 50px 25%;
	}

	.author-container{
		text-align: center;
		text-indent: 0;
	}
	.author, .date{
		text-align: center;
		color: $text;
		text-indent: 0;
		.author-name{
			background: $background;
			color: $text;
		}
	}
	.author{
		margin-bottom: 32px;
	}

	.body-image{
		margin: 50px 0;
		display: block;
		width: 100%;
		&.center{
			width: 100%;
			@include mq("large"){
				width: 150%;
				margin-left: -25%;
			}
		}
		&.right{
			width: 100%;
			@include mq("large"){
				width: 75%;
				float: right;
				margin: 25px -25% 25px 25px;
			}
		}
		&.left{
			width: 100%;
			@include mq("large"){
				width: 75%;
				float: left;
				margin: 25px 25px 25px -25%;
			}
		}
		img{
			display: block;
			width: 100%;
			max-width: 100%;

		}
		small{
			color: $text;
			display: block;
			margin: 10px 0;
			font-family: 'maison';
			font-size: 0.75em;
			text-align: left;
			.credit{
				opacity: 0.5;
				float: right;
				font-size: 0.625rem;
				&:before{
					content: '©';
				}
			}
		}
	}

	p{
		max-width: 800px;
		margin: 0 auto;
		text-align: left;
		text-indent: 80px;
		line-height: 24px;
		font-size: 16px;

		@include mq("medium"){
			line-height: 28px;
			font-size: 18px;
		}
		@include mq("large"){
			line-height: 32px;
			font-size: 21px;
		}
		@include mq("widescreen"){
			line-height: 38px;
			font-size: 24px;
		}
		&.byline{
			text-indent: 0;
		}
		&.final-credit{
			margin: 50px 0;
			padding: 0;
			text-indent: 0px;
		}
	}
}




.imgContainer{
	overflow: hidden;
	position: relative;
}

.imgContainer img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-caption{
	font-family: 'maison';
	font-size: 0.75rem;
	display: block;
	margin-top: 2em;
	text-align: left;
	.credit{
		opacity: 0.5;
		float: right;
		font-size: 0.625rem;
		&:before{
			content: '©';
		}
	}
}