doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="robots", content="index,follow")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(rel="stylesheet", href="css/main.css")

		title The Brighton Techno Sound

		meta(itemprop="name", content="The Brighton Techno Sound")
		meta(itemprop="description", content="The Tresor label turns 25 this summer. Joe Muggs tells the story surrounding a strange offshoot.")
		meta(itemprop="image", content="http://daily.redbullmusicacademy.com/specials/2016-brighton-techno-sound/images/tom-52.c0ef339b.jpg")

		meta(name="description", content="The Tresor label turns 25 this summer. Joe Muggs tells the story surrounding a strange offshoot.")

		//-FB
		meta(property="og:title", content="The Brighton Techno Sound | Red Bull Music Academy Daily")
		meta(property="og:description", content="The Tresor label turns 25 this summer. Joe Muggs tells the story surrounding a strange offshoot.")
		meta(property="og:type", content="article")
		meta(property="og:url", content="http://daily.redbullmusicacademy.com/specials/2016-brighton-techno-sound/")
		meta(property="og:image", content="http://daily.redbullmusicacademy.com/specials/2016-brighton-techno-sound/images/tom-52.c0ef339b.jpg")
		meta(property="og:site_name", content="Red Bull Music Academy Daily")
		meta(property="fb:admins", content="100006789941377")

		//-Twitter
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@rbma")
		meta(name="twitter:title", content="The Brighton Techno Sound | RBMA Daily")
		meta(name="twitter:description", content="The Tresor label turns 25 this summer. Joe Muggs tells the story surrounding a strange offshoot.")
		meta(name="twitter:creator", content="@rbma")
		meta(name="twitter:image:src", content="http://daily.redbullmusicacademy.com/specials/2016-brighton-techno-sound/images/tom-52.c0ef339b.jpg")


		link(rel="author", href="https://plus.google.com/+RBMA/posts")
		link(rel="publisher", href="https://plus.google.com/+RBMA")

		link(rel="apple-touch-icon", sizes="57x57", href="icons/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="icons/apple-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="icons/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="icons/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="icons/apple-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="icons/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="icons/apple-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="icons/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="icons/apple-icon-180x180.png")
		link(rel="icon", type="image/png", sizes="192x192", href="icons/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="icons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="icons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="icons/favicon-16x16.png")
		link(rel="manifest", href="icons/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage", content="icons/ms-icon-144x144.png")
		meta(name="theme-color", content="#ffffff")

	body

		nav.main-nav#nav
			a.logo(href="http://daily.redbullmusicacademy.com")
			a.text(href="http://daily.redbullmusicacademy.com") Red Bull Music Academy Daily

			.social
				a.share-icon.facebook(data-site="facebook")
				a.share-icon.twitter(data-site="twitter")

		.container#container
			#header
				#nCvs0(style="width:100%;height:30%;")
				#nCvs0Img.imgContainer(style="width:100%;height:70%;")
					img(src="images/tom-52.c0ef339b.jpg")
				h1 The Brighton Techno Sound

			.body-container
				.author-container
					p.date March 16, 2016
					p.author By <span class="author-name"><a href="http://daily.redbullmusicacademy.com/author/joe-muggs">Joe Muggs</a></span>

				p.
					Since its 18th century genesis as an aristocrats’ playground, Brighton has always been a space for hedonism. Being the closest point to London on the English south coast makes it an obvious place for escape and misbehaviour. It’s no coincidence that the best-known fictional depictions of Brighton feature razor-carrying petty gangsters (Graham Greene’s <em>Brighton Rock</em>) and running street battles and hurried, back-alley knee-tremblers (Franc Roddamn’s <em>Quadrophenia</em>). The novelist Keith Waterhouse famously said that “Brighton always looks like a town helping police with their enquiries” and it still does. Behind the facade of homeopaths, holidaymakers, students and media folk, it hides rampant corruption and organised crime, a heroin economy to match any British city and sprawling estates that are amongst the UK’s poorest.
				p.
					In the heat of ‘90s rave fervour, when the world and its dog came to Brighton for untold seven-day weekends, this contrast was expressed through a rather different electronic scene. While the seafront superclubs pumped out house, trance and big beat, a techno style formed in the backstreet nooks and crannies and became known in the European underground simply as “The Brighton Sound.” It sprouted odd rave and electronica mutations in a dense web of art, theory, satire, in-jokes and meat-flinging cabaret, and in surroundings that were by turns perplexing and off-putting. But it also left a huge creative legacy, from a tiny scene that punched way above its weight.
				p.
					This scene of malcontents was loose-knit but if there was a centre to it, it was #[a(href="http://www.rbmaradio.com/shows/cristian-vogel-fireside-chat") Cristian Vogel]. Originally from the south Midlands, he and his friend Si Begg had been putting out cassette releases and primitive music software hacks with the Cabbage Head Collective before he came to Sussex University in 1992, to study 20th Century Music. With a head full of #[a(href="http://daily.redbullmusicacademy.com/2014/10/stockhausen-in-japan") Stockhausen]  and rave tapes, he started boshing out the techno. By the end of 1994, he had two releases on Dave Clarke’s Magnetic North label and was resident at the Acid Box club nights run by Nick Spice and Pete Minnett, in a sticky-floored upstairs venue in Brighton’s North Lanes.
				p.
					Setting a pattern that would continue throughout the ‘90s, this fortnightly session was sporadically attended. On a good night, fair-weather techno fans would flock from across the dance subcultures. On others, it would be purely the heads: the casuals, old punks, students and freaks, who were treated with curious amusement and not infrequent snobbery by the rest of Brighton’s club world. “It was always a bit of a hard sell in Brighton, I found,” says Vogel’s frequent DJ and production partner in the early days, Neil Landstrumm, “but there was a small group who liked it. To be honest, the sound exported better. I think it was more at home in Edinburgh and Glasgow, or The Orbit [Yorkshire] and House Of God [Birmingham].”
	
	
				.video-outer.video-left
					.video-poster
						img(src="images/vogel-poster.jpg")
					.video-inner(data-src="https://www.youtube.com/embed/2ydOFHo9JtI")
					.video-caption Cristian Vogel - Ninjah
	
				p.
					This was the period when techno and hardcore were still part-fused. Along with headliners like Carl Cox and Luke Slater, you could hear Belgian hoover noises and full-pelt gabber rolled into the more “intelligent” beats, with relentless strobes and smoke. It’s a sign of how intense it was that the #[a(href="http://daily.redbullmusicacademy.com/specials/2016-ambient-house-feature/") “chill out” backroom] of the Acid Box consisted of Richie Hawtin tunes and <em>Tetsuo: Iron Man</em> being shown on a couple of TVs – and felt genuinely laid back in comparison to the dancefloor. You can hear this delirium in key early releases, like Vogel’s “Ninjah,” or Tobias Schmidt’s “Minus One.” Although they have Detroit and Chicago funk at their heart, they were forged into something harder and sharper in the heat, as UK rave exploded into a million fragments.
				p.
					It all came down to the riff: a sort of clever-dumb relentlessness that you’d hear in Relief or Dance Mania that was leapt on as a channel for a very British punk spirit, but with a high-tech twist that gave it a vicious, psychedelic edge. Not that there was any room for hippies, mind. A bloody-minded pride in the scene existed in fierce opposition to the unnecessary melodic frills and forced rushes of the Goa trance sound, which began to dominate around this time.
				p.
					Vogel and Begg founded Mosquito Records, around which a motley crew of producers of monstrous, razor-sharp techno gathered: Neil Landstrumm, Tobias Schmidt, Ibrahim Alfa and Russ Gabriel, as well as Begg and Vogel themselves. They were closely allied with the Scottish techno scene – notably through Landstrumm and the Sativae label, run by Dave Tarrida and Steve Glenncross, and playing to seething crowds north of the border – and with similar efforts in Germany and Poland. Many of the key figures would become vital to the German techno landscape, with Vogel, Landstrumm, Tarrida and others all striking up long and fruitful relationships with Tresor, as both club and label.
	
				p.
					At this stage, though, Brighton was just one outpost for a techno sound, albeit one that provided it with brand recognition. With some bafflement, Begg recalls seeing German flyers with “BRIGHTON TECHNO” under his name despite never having lived in the town. “I don’t think ‘Brighton’ really described the sound that well,” says Landstrumm. “It was more of a marriage of what we were doing in Scotland with like-minded souls and producers in Brighton. I think the sound being called ‘Brighton techno’ irritated everyone who didn’t live in fucking Brighton, though!”
				
				div(style="width:80%;max-width:960px;height:600px;margin:48px auto 96px;")
					#nCvs1Img.imgContainer(style="width:54%;height:100%;float:left;")
						img(src="images/zine-52.289b3409.jpg")
					#nCvs1(style="width:46%;height:100%;float:left;")
					div(style="clear:both;")
					small Defunkt Zine <span class="credit">Emma Sola</span>
	
				p.
					In other words, Brighton was important to this rugged sweatbox sound but it wasn’t particular to the town. Taken alone, it could have been just another local flavour on the international techno scene. But other things were in play that made Brighton’s take on electronic music unique. There was a disruptive element in an alliance with the Brighton “clench” of the #[a(href="https://en.wikipedia.org/wiki/Church_of_the_SubGenius") Church Of The SubGenius]. Existing on the fringes of the free party sound system culture by subverting its crypto-mystical tendencies, this local bunch of printers, skate-wear designers and party promoters were big on collage, stencil graffiti and heavy-punning streams of consciousness (“Bulldada” in the SubGenius parlance).

				.body-image.left
					img(src="images/mat-consume.acac5892.jpg")
					small Mat Consume <span class="credit">Neil Landstrumm</span>
	
				p.
					Heavily influenced by this mischief-disguised-as-culture ethos was Mat Consume, the in-house designer, computer animator and frequent backroom DJ for the Vogel-related axis. His art, rants and noisily experimental sets became a vital part of the identity of the scene, helping to coalesce its obsessions with punk, Situationism and the ambivalent embrace of the digital progress by Vogel and the others. When they formed an umbrella organisation for their activities, it felt apt for them to call it “No Future.”
				p.
					Held loosely together by Vogel’s partner and manager, Emma Sola, No Future acted as a booking agency for various acts, but also felt like a chaotic, independent art project between Vogel, Sola and Consume: throwing ideas and aesthetic forms out into the underground and forging alliances, the most importance of which was with the Spymania crew. Their social circle was of Londoners, Midlanders and a large contingent from Chelmsford, Essex. Many of the latter had been to school with Tom Jenkinson (originally known as Stereotype, and then as Squarepusher) when the Spymania label itself was formed by Paul Fowler and Brighton-based Hardy Finn. Their ethos was preposterous in all ways, and fuelled by unstable fusions of questing intellects and Essex swagger.
	
				div(style="width:70%;max-width:960px;height:500px;margin:48px auto 96px;")
					#nCvs2Img.imgContainer(style="width:100%;height:68%;")
						img(src="images/tom-hardy.d7c36329.jpg")
					#nCvs2(style="width:100%;height:32%;")
					small.image-caption Tom Jenkinson and Hardy Finn <span class="credit">Paul Fowler</span>

				p.
					As teenagers they congregated around a Chelmsford club night called Club Trout, which was run by scene mainstay Jane Mitchell and later exported to Brighton as Smooth But Halibut. They smoked themselves sarcastic to early tapes made by their friends Cassetteboy.  Everything they did was shot through with a “skater, raver and pisstaker” attitude. Their scene was built not on locations, clubs or even sounds, but on taking ravers’ natural gibbering tendency to newly-coined slang terms to extraordinary lengths, creating a private language that – though there was little obvious anti-establishment rhetoric – meant that the micro-subculture offered a “fuck you” to outsiders.

				.video-outer.video-right
					.video-poster
						img(src="images/squarepusher-poster.jpg")
					.video-inner(data-src="https://www.youtube.com/embed/LTJ9oYdFDDo")
					.video-caption Squarepusher - Conumber

				p.
					Yet they were musical connoisseurs, too: collecting hip hop, acid, Detroit techno, British electronica and, especially in the case of Martin “MDK” Wood, death metal, grindcore and anarcho-punk. This pile-up of expertise and sarcasm was there from the first release, Squarepusher’s <em>Conumber</em> EP, which featured a time-stretched Jenkinson asking, “Can anyone lend me a fiver?” and jungle-acid fusions that inspired Aphex Twin to radically change his methods, and presaged much of what was to come in IDM and breakcore.
				p.
					The Spymania records that followed were as brain-frying as they were funny. They touched on mismatched #[a(href="http://daily.redbullmusicacademy.com/2014/08/illbient-oral-history") illbient] time signatures, Drexciyan electro-funk, Deicide samples, eerily blissed out atmospherics, Cassetteboy’s puerile genius (via offshoot label Barry’s Bootlegs), and dozens of awkward twists and turns besides. Since Jenkinson’s template of intricate breakbeat programming with acid-inspired modulations was the most recognisable signature, Spymania was briefly tagged “drill and bass” and pushed as the next big thing in the <em>NME</em> – much to the amusement of all involved. While it wasn’t necessarily “the next big thing,” it was a refreshing antidote to the chin-fondling purism of the wider electronica scene.
				p.
					When Finn, Wood and friends went raving at the Acid Box, they found a kindred spirit in Mat Consume. He designed almost all of the Spymania record sleeves – their grainy photocopy style became a counterpoint to the garish computer images and animated dancing baby skeletons of his No Future work. They in turn inspired Consume to set up Trash Records with the urbane Lynton Million, a university friend of Jamie Lidell’s, and take Spymania’s mischievous lack of care at what the outside world thought beyond the pain threshold. The sound of Trash Records took this confrontation to extremes.
				
				.video-outer.video-left
					.video-poster
						img(src="images/dj-paedofile-poster.jpg")
					.video-inner(data-src="https://www.youtube.com/embed/WcyrrAwqaQY")
					.video-caption DJ Paedofile - I Was Raise In Louds

				p.
					There was anger and ugliness from label mainstays including DJ Paedofile, Chuck Shite and Shit &amp; Cheap (AKA Consume &amp; Landstrumm. A sample track name of theirs: “SuckingCocksForFishheads”), as well as intricate turns from Jamie Lidell and another Squarepusher contemporary and Rephlex recording artist, Matt Yee-King. Begg, too, was close to Spymania, and launched the more good-natured but equally ridiculous Noodles family of labels, featuring a slew of collaborations and AKAs from the No Future and Spymania families (including Hardy Spymania’s pleasingly literal Barry Pseudonym).
				p.
					Spymania was gleefully uncommercial, but the scene wasn’t entirely run on a shoestring. Since most of the No Future circle enjoyed lucrative DJ careers, the European techno scene provided the bulk of the funding for some of the more esoteric activities while others kept the rickety boat afloat at home. Consume, for one, put his computer animation skills to work in videos and live visuals for the likes of Fatboy Slim. But the creative processes were at least as much about what happened in smoky shared flats and workshops in Brighton’s backstreets as they were about big dancefloors. Vogel once described his metier as “drug pub rants,” and a lot of work sprung from precisely these.
				p.
					The No Future crew weren’t just about punk, Situationism and SubGenius obscurantism. Gilles Deleuze, Detroit “third wave” theory, cut-up technique, Discordianism, an extraordinary understanding of technology and much more blurred into the Chelmsford axis, and Consume and friends’ wilful nonsense in unending drugged pseudo-symposia, in pubs, tour buses and club backrooms. Academia and traditional politics were mostly rejected but despite the nihilism that could be inferred from “No Future” and things like Vogel’s <em>All Music has Come to an End</em> album and <em>Demolish Serious Culture</em> EP, this was somehow a constructive act. The SubGenius “bulldada” was a way of processing the impossible or unthinkable into usable concepts.
				
				div
					div(style="width:30%;height:600px;margin:48px 3% 24px 2%;float:left;")
						#nCvs3Img.imgContainer(style="width:100%;height:75%;")
							img(src="images/box-1.d5df126d.jpg")
						#nCvs3(style="width:100%;height:25%;")
	
					div(style="width:30%;height:600px;margin:48px 3% 24px 0;float:left;")
						#nCvs4(style="width:100%;height:40%;")
						#nCvs4Img.imgContainer(style="width:100%;height:60%;")
							img(src="images/box-3.d5df126d.jpg")
	
					div(style="width:30%;height:600px;margin:48px auto 24px;float:left;")
						#nCvs5Img.imgContainer(style="width:100%;height:70%;")
							img(src="images/box-8.d5df126d.jpg")
						#nCvs5(style="width:100%;height:30%;")

					div(style="clear:both;")
					small.image-caption <span class="credit">Flyers by Consume</span>
					div(style="clear:both;margin-bottom:25px;")


				p.
					All of this fed back into the techno. Four-to-the-floor remained the heartbeat: as The Acid Box became The Box, then Defunkt, then Freekin’ The Frame; as dons like Blake Baxter, Shake Shakir, Claude Young, Beltram, #[a(href="http://www.redbullmusicacademy.com/lectures/andrew-weatherall--idiosyncratic-adventures") Weatherall], Surgeon and #[a(href="http://daily.redbullmusicacademy.com/2012/07/drug-dub") Bandulu] kept coming through. All of the theorising and lunacies fed into the complexities of each Vogel album, but those albums remained techno and the patronage of keystone international labels like #[a(href="http://daily.redbullmusicacademy.com/2013/04/nightclubbing-tresor") Tresor] and NovaMute proved the point. The constant tension between this steely techno heart and the dissolute experimental frenzy around it were what powered the creativity of the scene. Continually, though, the bulk of Brighton club culture looked askance at the belligerent and deliberate obfuscations of the No Future axis – or simply ignored it.
	
				.video-outer.video-center
					.video-poster
						img(src="images/no-future-poster.jpg")
					.video-inner(data-src="https://player.vimeo.com/video/119001501", data-host="vimeo")
					small.image-caption No Future at Brighton Love Parade <span class="credit">Pablo Fiasco</span>
	
				p.
					The scene’s peak visibility was probably at 1997’s Brighton Dance Parade. This attempt to replicate Berlin’s Love Parade would be a one-off – hippie mismanagement and endemic corruption saw to that – but for one day only the ravers had their literal day in the sun.
				p.
					Among floats pumping out free party trance and funky house, there was the No Future bus. Stencilled all over by Consume and Pablo Fiasco with pictures of dead rock stars, and with a stunningly crisp rig playing weaponised techno and electronica, the angles and curves of which were a thousand times sharper and more present than any other music on the day, No Future stood out like a septic thumb.
				
				.video-outer.video-right
					.video-poster
						img(src="images/super-collider-poster.jpg")
					.video-inner(data-src="https://www.youtube.com/embed/dh2kauFcGpw")
					.video-caption Super Collider - Darn (Cold Way O' Lovin)

				p.
					It felt symbolic of the misfits crashing the party in a serious way, and the moment even had bonafide anthems. This was also the year that Vogel’s musical partnership with Lidell began in earnest – with Lidell’s furious remix of Vogel’s “(Don’t) Take More” and their first release as the mutant electronic funk duo Super_Collider, “Darn (Cold Way O’ Lovin’).” The latter track emerged on a major label thanks to it being signed by Skint parent label Loaded, and was in turn licensed through Sony. It was a year to wave the freak flag high.
				p.
					From there on in, there were successes. Super_Collider would make two albums and Spymania kept on releasing – including Lidell’s experimental first solo album, <em>Muddlin Gear</em>. Although the Brighton crew remained archetypal prophets ignored in their hometown, they won plenty of influential fans: Thom Yorke and Stanley Donwood, Andrew Weatherall, Róisín Murphy, Herbert, Chicks On Speed and a very young #[a(href="http://daily.redbullmusicacademy.com/2013/05/studio-tutorial-four-tet") Four Tet] all got involved through the late ‘90s and into the ‘00s. But 1997 felt like the culmination of the furious energies of the three or so years leading up to that point, the cresting of the wave, and what came after was a consolidation of what had come together in that original eruption of ideas.
				p.
					Inevitably, like all but the very biggest musical scenes, “The Brighton Sound” dissipated as people grew up, fucked up or moved on – but its echoes remain. Vogel and Landstrumm continue to be significant forces in electronic music, both as influences on the post-Blawan generation and as musicians in their own right. Begg is a respected sound designer and composer. Matt Yee-King runs the computer music course at Goldsmiths College and is a big noise on #[a(href="http://daily.redbullmusicacademy.com/2013/10/algoraving-dancing-to-coding") the “Algorave” scene]. Paul Spymania is an artist manager and agent, and along with #[a(href="http://www.redbullmusicacademy.com/lectures/scuba-lecture-madrid-2011") Scuba], brought dubstep to Berlin with the revered Sub:Stance sessions. Semiconductor became artists in residence for NASA. Jamie Lidell supported Elton John. Consume is in Bristol, working on a giant mural of #[a(href="http://daily.redbullmusicacademy.com/2014/01/dj-derek-grand-finale-babylon-by-bus") DJ Derek]. Ibrahim Alfa took several sharp diversions that are #[a(href="https://thump.vice.com/en_uk/article/ibrahim-alfa-interview-part-one") an epic tale] in their own right, and is only now picking up where he left off with a Workshop issue of his “lost” album, <em>Once Upon a Time in Brighton</em>. And so, it goes on.
				p.
					Unlike some electronic scenes, the one in Brighton was never particularly chic, but a cultural cachet grew out of a tiny techno club and its committed regulars, filling a decade with extraordinary art, music and ideas. These awkward ravers and jokers somehow managed to hold it together just enough to build a creative world entirely of their own, with its own rules and its own distinctive identity. What more can artists hope for?

				br
				br
				br


				p(style="text-indent: 0;").
					<em>This history is dedicated to James Phillips, a vital part of this scene and always 100% one of the good guys. RIP</em>

				br
				br
				br

				p.byline.
					<strong><em>To hear more Brighton Techno, listen in to RBMA Radio as <a href="http://www.rbmaradio.com/shows/dave-tarrida-brighton-techno-classics">Dave Tarrida</a> and <a href="http://www.rbmaradio.com/shows/hardy-spymania-brighton-the-other-side">Hardy Spymania</a> pay tribute, and hear our Fireside Chat with <a href="http://www.rbmaradio.com/shows/neil-landstrumm-fireside-chat">Neil Landstrumm</a>. Also, MDK has just put out an album of previously-unreleased Spymania-era tracks #[a(href="https://i-am-mdk.bandcamp.com/album/strange-friends") here].</em></strong>
				

				p.final-credit
					small 
						em Title photo: Paul Fowler
						br
						em Graphics: <a href="http://netro.cc/">Netro</a>
						br

		footer
			img.footer-logo(src="images/footer-logo.svg")

			.footer-title Red Bull Music Academy Daily

			p.footer-text.
				The Red Bull Music Academy Daily is the online publication by the Red Bull Music Academy, a global music institution committed to fostering creativity in music. Just like the Academy, we think of it as a platform for the essential ideas, sounds and people that have driven – and continue to drive – our culture forward.

			.sitemap
				.cell
					.link
						a(href="http://www.redbullmusicacademy.com") Red Bull Music Academy
					.link
						a(href="http://www.redbullmusicacademy.com/about") About
					.link
						a(href="http://www.redbullmusicacademy.com/events") Events
					.link
						a(href="http://www.redbullmusicacademy.com/lectures") Lectures

				.cell
					.link
						a(href="http://daily.redbullmusicacademy.com/") RBMA Daily
					.link
						a(href="http://daily.redbullmusicacademy.com/features") Features
					.link
						a(href="http://daily.redbullmusicacademy.com/interviews") Interviews
					.link
						a(href="http://daily.redbullmusicacademy.com/nightclubbing-features") Nightclubbing
					.link
						a(href="http://daily.redbullmusicacademy.com/studio-science") Studio Science
					.link
						a(href="http://daily.redbullmusicacademy.com/videos") Videos
					.link
						a(href="http://daily.redbullmusicacademy.com/galleries") Galleries

				.cell
					.link
						a(href="http://www.rbmaradio.com/") RBMA Radio
					.link
						a(href="http://www.rbmaradio.com/categories") Interviews & Features
					.link
						a(href="http://www.rbmaradio.com/categories/live-recordings-mixes") Live Recordings & Mixes
					.link
						a(href="http://www.rbmaradio.com/categories/local-spotlights") Local Spotlights

				.footer-social
					a(href="http://www.facebook.com/RedBullMusicAcademy")
						.social-icon.facebook
					a(href="http://twitter.com/rbma")
						.social-icon.twitter
					a(href="http://www.youtube.com/user/redbullmusicacademy")
						.social-icon.youtube
					a(href="http://www.vimeo.com/redbullmusicacademy")
						.social-icon.vimeo
					a(href="http://www.redbullmusicacademy.tumblr.com/")
						.social-icon.tumblr
					a(href="http://www.soundcloud.com/redbullmusicacademy")
						.social-icon.soundcloud
					a(href="http://www.instagram.com/redbullmusicacademy")
						.social-icon.instagram

				.footer-legal
					p
						span © Red Bull 2015 |
						span 
							a(href="http://www.redbullmusicacademy.com/p/terms") Terms & Conditions |
						span
							a(href="http://www.redbull.com/en/data-privacy-policy") Privacy Policy |
						span
							a(href="http://www.redbullmusicacademy.com/p/legal-notice") Legal Notice |
						span
							a(href="http://www.redbullmusicacademy.com/p/contact-us") Contact Us |
						span
							a(href="http://www.redbullmusicacademy.com/p/newsletter") Newsletter


		script(src="js/bundle.js")

		//-GA
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-21347469-1', 'auto');
			ga('send', 'pageview');

		//-Webtrekk 1
		script.
			var edWrapperNameSpace = {};
			edWrapperNameSpace.aGTM = [
			"GTM-LVJ5",     // hq
			"GTM-7W7M",     // hq
			"GTM-HPZK",     // hq
			"GTM-WWXSFT"    // property
			];
			var edWrapper = [];

		//-Webtrekk 2
		script.
			edWrapperNameSpace.sVers = -1;
			edWrapperNameSpace.aInitialInnerWrapper = [["downloads.redbull.com/webtrekk/innereWrapper/gtm/innerWrapper_gtm.js",false]];
			edWrapperNameSpace.sWrapperSrc = ["downloads.redbull.com/webtrekk/edAnalyticsWrapper.js","downloads.redbull.com/webtrekk/confWrapper.js"];

			(function (sVarName) {
				window.edWrapperNameSpace.sEdWrapperObjectName = sVarName; window[sVarName] = window[sVarName] || [];
				var script = document.createElement('script'); script.type = 'text/javascript';script.asyn = false; 
				script.src = ('https:' == document.location.protocol ? 'https://' : 'http://')+edWrapperNameSpace.sWrapperSrc[0] + "?v=" + edWrapperNameSpace.sVers;
				var script2 = document.getElementsByTagName('script')[0]; script2.parentNode.insertBefore(script, script2);
			})("edWrapper");

		script.
			edWrapper.push( [ 'trackPageView' , false , {1:'IntMS' , 2:'IntMS - int' , 3:'IntMS - int - Red Bull Music Academy'} , true ] );
			edWrapper.push( [ 'trackPageVar' , 'Language' , 'en'] );
			edWrapper.push( [ 'trackPageVar' , 'Domain incl. Subdomain' , window.location.hostname] );
			edWrapper.push( [ 'trackPageVar' , 'Type' , 'IntMS'] );
			edWrapper.push(['submit']);

		script(id="vertexShader" type="x-shader/x-vertex").
			void main()
			{
				gl_Position = vec4(position, 1.0);
			}

		script(id="fragmentShader" type="x-shader/x-fragment").
			uniform vec2 iResolution;
			uniform float iGlobalTime;
			uniform sampler2D iChannel0;
			uniform float seed;
			float t = (iGlobalTime + seed) * 0.02;
			void main(void)
			{
				vec2 uv = gl_FragCoord.xy / iResolution.xy;
				float d = length(uv);
				vec2 pos1 = vec2(0.5 - distance(sin(t*0.9) * uv.x, sqrt(d)), 0.5 - refract(cos(t*0.8), log(d), reflect(uv.x, uv.y)));
				vec2 pos2 = vec2(0.5 - dot(cos(t), sqrt(d)), 0.5 - refract(sin(t*1.3), cos(d), pow(uv.x, uv.y)));
				vec2 pos = mix(pos1, pos2, sin(iGlobalTime*0.1));
				vec3 col = texture2D(iChannel0, pos).xyz;
				gl_FragColor = vec4(col, 1.0);
			}
